[package]
name = "vger-protocol"
version = "0.9.0"
edition = "2021"
license = "GPL-3.0-only"

[lints]
workspace = true

[dependencies]
serde = { workspace = true }

[dev-dependencies]
serde_json = { workspace = true }
